{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2>Welcome to College Smart Portal</h2>

    <!-- Cards Start -->
    <div class="row">

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Total Students</h5>
                    <span class="badge bg-primary">120</span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Attendance</h5>
                    <span class="badge bg-success">95%</span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5>Notices</h5>
                    <span class="badge bg-warning text-dark">5 New</span>
                </div>
            </div>
        </div>

    </div>
    <!-- Cards End -->

</div>

{% endblock %}