{% extends 'base.html' %}

{% block content %}

<div class="card mt-4 shadow">
 <div class="card-body">
        <h2>About Project</h2>
        <p>College Smart Portal developed using Python Flask and Bootstrap.</p>
    


    <h1>About College Smart Portal</h1>

    <p>
        College Smart Portal is a web-based application developed using
        Python Flask. It helps students and faculty manage academic
        information efficiently.
    </p>

    <h2>Features</h2>

    <ul style="text-align:left; display:inline-block;">
        <li>📚 Student Records</li>
        <li>📊 Attendance Tracking</li>
        <li>📝 Marks Management</li>
        <li>📢 Notice Board</li>
        <li>🔐 Student Login System</li>
    </ul>

    <h2>Project Information</h2>

    <p><strong>Project Name:</strong> College Smart Portal</p>
    <p><strong>Technology:</strong> Python, Flask, HTML, CSS</p>
    <p><strong>Developer:</strong> Dipak Madane</p>

</div>

{% endblock %}