{% extends 'base.html' %}

{% block content %}
<p class="text-center text-muted mt-3">
 Welcome to the College Smart Portal  🎓📊
</p>
<div class="p-5 mb-4 bg-primary text-white rounded text-center">
    <h1> 🎓 College Smart Portal</h1>
    <p> Manage Students,Attendance and Records Easily</p>
</div>
<div class="d-grid gap-2 d-md-block mt-3">
    <a href="{{ url_for('add_student') }}" class="btn btn-success">
        ➕ Add Student
    </a>

    <a href="{{ url_for('records') }}" class="btn btn-primary">
        📋 View Records
    </a>

    <a href="{{ url_for('about') }}" class="btn btn-warning">
        ℹ️ About
    </a>
    <a href="{{ url_for('ai_tips') }}" class="btn btn-info">
        🤖 AI Study Tips
    </a>
</div>
<p class="text-end mt-3">
    📅 Last Updated:Today
</p>

<div class="container mt-4">

</div>


<div class="row mt-4">
    <div class="col-md-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body text-center">
                <h5>🎓 Total Students</h5>
                <h2>{{ students|length }}</h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-3">
        <div class="card bg-success text-white shadow">
            <div class="card-body text-center">
                <h5>📊 Attendance</h5>
                <h2>85%</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-warning shadow">
            <div class="card-body text-center">
                <h5>📢 Notices</h5>
                <h2>5 New</h2>
            </div>
        </div>
    </div>

</div>

{% endblock %}